@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');



body,html{
  font-family: 'Lato', sans-serif;
  color: #505962;
  overflow-x: hidden;
}

.offset:before{
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;

}

/*********HOME SECTION***********/

/*************navigation***************/
.navbar{
  text-transform: uppercase;
  font-weight:600;
  font-size: 1.5rem;
  letter-spacing: 0;
  background:rgba(0,0,0,0.8)!important;
}

.navbar-brand img{
  height: 2rem;
}

.navbar-collapse .navbar-nav .nav-link{
  color: white;
  padding-top: 0.1rem;
}

.navbar-collapse .navbar-nav .nav-link.active,
.navbar-collapse .navbar-nav .nav-link:hover{
  color: #1ebba3;
}

/**************slider***************/

.carousel-item{
  position: absolute;
  height: 750px;

}

.carousel-caption{
  font-size: 40px;
  height: 30rem;
  position: absolute;
  text-transform: uppercase;
  /*width: 100%;
  left: 0;
  right: 0;*/
}

.carousel-caption h1{
  font-weight: 700;
  font-size: 3.8rem;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.carousel-caption h3{
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem .1rem .5rem black;
}

/*.btn-lg{
  width:15rem;
  height:5rem;
}*/

.nuno-img{
  object-fit: cover;
  object-position: left;
}

/************COURSE SECTION***************/

.btn-md{
  border-radius: 0; 
  border-width: medium;
  padding: 0.6rem 1.1rem;
  text-transform: uppercase;
  margin: 2rem;
  /*width: 25rem ;
  height:5rem;*/
}

.narrow {
  width: 75%;
  margin: 2.0rem auto;
  padding-top: 2rem; 
}
.narrow h1 {
    font-size: 3.4rem;
  }

.btn-secondary {
  border-width: medium ;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: rgba(0,0,0,);
  background-color: rgba(0,0,0,.6);
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border: round;
  border-color: grey ;
  background-color: grey ;
  color: white;
}

/**************PORTFOLIO AND TEAM section************/

.jumbotron{
  padding: 3rem 0 2rem;
  border-radius:0;
  /* height: 85rem; */
}

h3.heading{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9rem;
  padding-bottom: 1.9rem;
}

.underline{
  background-color: #1ebba3;
  width: 3rem;
  height: .2rem;
  margin: 1rem auto 2rem;
}

.portfolio img{
  width: 100%;
  height: 28rem;
  transition: transform 0.5s ease;
  object-fit: cover;
  object-position: center;
}

.row.no-padding [class*=col-]{
  padding: 0;
}

.portfolio img:hover{
  transform: scale(1.1);
  cursor:zoom-in;
}

.portfolio{
  overflow: hidden;
}

.card{
  margin: 2rem;
}


/***************CONTACT SECTION******************/

footer{
  background-color: #40474e;
  color: white;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}

footer img{
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}

footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover{
  color: #1ebba3;
}


hr.socket{
  border-top: .2rem solid #666b71;
  width: 100%;
}


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








